* {
    /* This makes it so it zeroes out any padding or margin across all elements in the html file. By doing so, it makes it easier to align elements on the website.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: black;
    color: whitesmoke;

    display: flex; /* Makes elements in the header stay next to each other rather than one below the other*/
    align-items: center;
}

body {
    /* The following code expands the divs in the body vertically*/
    height: 100vh;/* vh is the height relative to the windows size.*/
    display: flex;
    flex-direction: column;
}

.logo img {
    max-width: 200px;
}

.account {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login, .signup {
    color: whitesmoke;
    text-decoration: none; /* Removes any underlining of the hyperlink*/
    font-size: 16px;
}

.profile {
    margin-left: auto;
}

.profile img {
    max-width: 40px;
}

.homePage {
    flex: 1;
    display: flex;
}

.classesDisplay{
    flex: 1;
    background-color: lightblue;
    border-radius: 8px;
}

.schedule {
    flex: 1;
    background-color: lightcoral;
    border-radius: 8px;
}

.gradesGraph {
    flex: 1;
    background-color:lightgoldenrodyellow;
    border-radius: 8px;
}